<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InkExampleOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>InkExampleiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>541FFBC71CB5472C00967CB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5428D6481CE4FF3A0082D815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>545937141D9E9BC200644DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607FACCF1AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607FACE41AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
